@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.overflow {
    overflow: hidden;
}

.swiper-pagination {
    position: unset !important;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 0.23 !important;
    background: #A854E9 !important;
}

.swiper-pagination-bullet-active {
    width: 28px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: #A854E9 !important;
    border-radius: 22px !important;
}

.swiper-slide-active div {
    position: relative !important;
    border-color: #A854E9 !important;
}

.swiper-slide-active div::after {
    content: '';
    width: 100%;
    height: 8px;
    position: absolute !important;
    background-color: #A854E9;
    left: 0;
    bottom: 0;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
}

.common-btn span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    transition: .6s ease;
}

.common-btn span:nth-child(6) {
    position: relative;
}

.common-btn span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.common-btn span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

.common-btn span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.common-btn span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

.common-btn span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.common-btn:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(5);
    transition: 1.5s ease;
}

.bg-size-100 {
    background-size: 100% 100%;
}

@media (min-width:1280px) {
    .swiper-slide {
        margin-right: 0 !important;
    }
}